{% extends 'blank.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> Oups...</div>
            <h1 class="h2 mb-3">Vous êtes sur une page d'erreur...</h1>
            <p class="h4 text-muted font-weight-normal mb-7">Nous sommes désolé, votre requete comporte une erreur et ne peut être satisfaite</p>
        <a class="btn btn-primary" href="javascript:history.back()">
            <i class="fe fe-arrow-left mr-2"></i>Retour
        </a>
    </div>
{% endblock %}